*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: hsla(0, 100%, 31%, 0.781);
  color: #0f172a;
  font-family: "Montserrat", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.btn {
  cursor: pointer;
  color: #a37070;
  background: #0b0402;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.4s ease-in-out all;
}

.btn:hover {
  background: #464548;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-block {
  width: 100%;
}
.form {
  width: 90vw;
  max-width: 1120px;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: 0.3s ease-in-out all;
}
.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.2rem;
  background: #d3d2d2;
  border: 1px solid #e51010;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.form-row {
  margin-bottom: 1rem;
}
